@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dfdfdf;
  --foreground: #0c0c0c;
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a[data-stagger-link] [data-stagger-link-text] {
  text-shadow: 0px 1em 0px var(--foreground);
}
