@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dfdfdf;
  --foreground: #0c0c0c;
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a[data-stagger-link] [data-stagger-link-text] {
  text-shadow: 0px 1.5rem 0px var(--foreground);
}

/* #circleMask-0 .displacement {
  filter: url(#displacementFilter-0);
}
#circleMask-1 .displacement {
  filter: url(#displacementFilter-1);
}
#circleMask-2 .displacement {
  filter: url(#displacementFilter-2);
}
#circleMask-3 .displacement {
  filter: url(#displacementFilter-3);
} */
